/*
* table
*/

#clientsTable{
	width:90%;
	margin-bottom:40px;
}

.clientNameTd{
	min-width: 100px;
}

.clientContactPersonTd{
	min-width: 100px;
}

.clientTotalBoughtForTd{
	min-width: 100px;
	width:10%;
}

/*
* SEARCH
*/
#clientSearchNameInput, #clientSearchContactPersonInput{
	left:1%;
	width:98%;
}

/*
* Detailed data row
*/
.clientDetailNameDiv{
	display: inline-block;
	min-width:155px;
	width:155px;
}
.clientDetailInputDiv{
	display: inline-block;
	width:60%;
}
.clientDetailInputDiv input{
	width:100%;
}

.clientDetailedDataRow{
	background-color:#DDE4E4;
}

#leftSideDetailDiv{
	width: 50%;
	height: 100%;
	display: inline-block;
	float: left;
}
#rightsideDetailDiv{
	width: 49%;
	height: 100%;
	display: inline-block;
	float: left;
}

#clientDetailNumbersDiv{
	overflow:auto;
	background:#ffffff;
	height:180px;
}

/*
* INPUT FIELDS
*/
.clientSearchInputField{
	margin-left:1%;
	margin-right:1%;
	width:98%;
}