
/*
* TABLE
*/

#productsTable,#searchTable{
	min-width:360px;
	width:90%;
}

.productCodeTd{
	min-width: 80px;
	max-width: 160px;
}
.productNameTd{
	min-width: 100px;
	max-width: 200px;
}
.productPriceTd{
	min-width: 40px;
	max-width: 50px;
}
.productUnitTd{
	min-width: 40px;
	max-width: 50px;
}
.buttonsTd{
	min-width: 65px;
	max-width: 65px;
}
.productDeleteTd{
	width:70px;
	text-align: center;
	overflow: hidden;
}

.productsDeleteLabel{
	width: 100%;
	display: block;
	height: auto !important;
	height: 100%;
	min-height: 100%;
}

.productTableRow:hover{
	background-color:#DDE4E4;
}

/*
* SIDE DIV (language buttons, save button)
*/

#productsSideDiv{
	position:fixed;
	right:40px;
	top:30%;
	height:120px;
	width:32px;
}

#productsSideDiv input{
	width:70px;
}

/*
* INPUT FIELDS
*/
.productSearchInputField{
	margin-left:1%;
	margin-right:1%;
	width:98%;
}

/*
* detailed data div
*/
.productDetailedDataRow{
	background-color:#DDE4E4;
}
.productDetailDataPieceDiv{
	padding:5px;
}
.productDetailNameDiv, .productDetailPriceDiv, .productDetailUnitDiv,
.productDetailENameDiv, .productDetailOPriceDiv, .productDetailEUnitDiv,
.productDetailCodeDiv, .productDetailStorageDiv{
	width:100px;
	display:inline-block;
}

#productDetailNameInput, #productDetailPriceInput, #productDetailUnitInput,
#productDetailENameInput, #productDetailOPriceInput, #productDetailEUnitInput,
#productDetailCodeInput, #productDetailStorageInput{
	width:70%;
	min-width:120px;
}

.leftSideProductDetailViewDiv, .rightSideProductDetailViewDiv{
	width:50%;
	display: inline-block;
	float:left;
}
.rightSideProductDetailViewDiv{
	height:100%;
}
.saveProductDetailDataButton{
	width:120px;
}