.userDataDescription {
	display: inline-block;
	min-width:120px;
}

.userDataInput input[type="text"]{
	min-width:200px;
	width:50%;
	maxlength:45;
}

.userDataDiv {
	width:90%;
}

/*
* logo
*/
#firmLogoWidthInput,#firmLogoHeightInput{
	width:70px;
}

#firmLogo{
	width:auto;
 	height:auto;
	max-height:100%;
	max-width:100%;
	border:1px dotted #47423F;
}

#firmLogoDiv{
	border:1px dotted #47423F;
	text-align:center;
}